<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="db.movilizacion">
      {{db.movilizacion.CLIENTE}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card (click)="db.irUnidades(proceso)" *ngFor="let proceso of db.procesos" class="boton1">
    <ion-badge color="success" mode="ios" *ngIf="proceso.NEWS>0"  class="badge2">{{proceso.NEWS}}</ion-badge>
    <ion-badge color="medium" mode="ios" *ngIf="proceso.NTASKS>0"  class="badge3">{{proceso.NTASKS}}</ion-badge>
    <ion-card-content>
      <b>{{proceso.NOMBREPROCESO}}</b><br>
      {{proceso.DESCRIPCION}}
    </ion-card-content>
  </ion-card>

</ion-content>