<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let nivel of db.nivelNovedades" (click)="selectNiv(nivel)">
      <ion-label >{{nivel.NOMBRE}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
