<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="db.unidad">
      Foto {{db.unidad.VIN}} 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-slides mode="ios" [options]="slideOpts" zoom pager>
    <ion-slide *ngFor="let foto of db.foto">
      <div class="swiper-zoom-container" >
        <img src={{foto.ARCHIVO}}>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button color="danger" (click)="borrar()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
