<ion-header>

  <ion-item *ngIf="db.tipoNovedades" class="ion-no-padding">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="search" size="small"></ion-icon>
      <ion-badge color="new" *ngIf="bagEn">{{novFil.length}}</ion-badge>
    </ion-buttons>
    <ion-input type="text" placeholder="Novedad" (ionChange)="busquedaNovedad($event.detail.value)"></ion-input>
  </ion-item>

</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let novedad of novFil" (click)="selectNov(novedad)">
      <ion-label >{{novedad.CODIGOTIPONOVEDAD}}-{{novedad.NOMBRETIPONOVEDAD}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
