<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Historial de tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let tarea of db.unidadesNuevas">
      <ion-list>
        <b>VIN:</b> {{tarea.VIN}} <br> 
        <b>PROCESO:</b> {{tarea.IDPROCESO}} <br>
        <b>MOVILIZACION:</b> {{tarea.IDMOVILIZACION}} 
      </ion-list>
    </ion-item>
  </ion-list>

</ion-content>
