<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Información del Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="db.data">
    <ion-card-subtitle>
      <ion-list>
        <ion-item> <ion-text color="new"> <b>Nombre:</b> {{db.data.USERNAME}} </ion-text> </ion-item>
        <ion-item><ion-text color="new"> <b>email:</b> {{db.data.EMAIL}} </ion-text></ion-item> 
        <ion-item><ion-text color="new"> <b>id:</b> {{db.data.IDUSER}} </ion-text></ion-item> 
      </ion-list>
    </ion-card-subtitle>
    </ion-card>

</ion-content>
