<ion-header>
    <ion-toolbar color="new" class="ion-text-start">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="db.unidad">
            Fotos {{db.unidad.VIN}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="db.unidad" class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col size="4"><b>Proceso:</b></ion-col>
            <ion-col size="8" class="ion-text-end">{{db.proceso.NOMBREPROCESO}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4"><b>VIN:</b></ion-col>
            <ion-col size="8" class="ion-text-end">{{db.unidad.VIN}}</ion-col>
        </ion-row>
    </ion-grid><br>

    <ion-grid>
        <ion-row>
            <ion-col size="4" class="medio"><b>Agregar Foto:</b></ion-col>
            <ion-col size="8" class="ion-text-end">
                <!-- <ion-button (click)="db.tomarFoto('2')" size="small" color="new">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button> -->
                <ion-button (click)="db.abrirFoto('2')" size="small" color="new">
                    <ion-icon slot="icon-only" name="folder"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid> <br>

    <ion-grid *ngIf="db.fotosFoto">
        <ion-text color="New">
            <b>Galeria de fotos</b>
        </ion-text>
        <ion-row class="ion-no-padding">
            <ion-col size="4" *ngFor="let foto of db.fotosFoto" (click)="db.irFoto(foto,'2')">
                <ion-thumbnail class="miniatura">
                    <ion-img src={{foto.ARCHIVO}}></ion-img>
                </ion-thumbnail>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="new" (click)="db.tomarFoto('2')">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>