<ion-content class="ion-padding">

    <ion-img src="/assets/img/logo.png"></ion-img>
    <ion-card>
        <ion-item>
            <ion-input placeholder="Usuario" type="text" color="new" [(ngModel)]="db.usuario"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Contraseña" type={{textoClave}} color="new" [(ngModel)]="db.clave"> </ion-input>
            <ion-button (click)="verClave()" fill="clear" color="new" slot="end">
                <ion-icon slot="icon-only" name={{iconoClave}}></ion-icon>
            </ion-button>
        </ion-item>
        <br>
        <ion-button (click)="db.login()" expand="block" shape="round" color="new" size="large">
            INGRESAR
        </ion-button>
    </ion-card>

</ion-content>