<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="db.novedadSelec">
      {{db.novedadSelec.PARTE.NOMBREPARTE}} - {{db.novedadSelec.NOVEDAD.NOMBRETIPONOVEDAD}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="db.unidad" class="ion-padding">

  <ion-grid>
    <ion-row><ion-col size="4"><b>Proceso:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.proceso.NOMBREPROCESO}}</ion-col></ion-row>
    <ion-row><ion-col size="4"><b>VIN:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.unidad.VIN}}</ion-col></ion-row>
  </ion-grid><br>

  <ion-grid>
    <ion-row><ion-col size="4"><b>Parte:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.novedadSelec.PARTE.NOMBREPARTE}}</ion-col></ion-row>
    <ion-row><ion-col size="4"><b>Novedad:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.novedadSelec.NOVEDAD.NOMBRETIPONOVEDAD}}</ion-col></ion-row>
    <ion-row><ion-col size="4"><b>Nivel:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.novedadSelec.NIVEL.NOMBRE}}</ion-col></ion-row>
    <ion-row><ion-col size="5"><b>Observaciones:</b></ion-col><ion-col size="7" class="ion-text-end">{{db.novedadSelec.OBSERVACIONES}}</ion-col></ion-row>
    <ion-row><ion-col size="5" class="medio"><b>Agregar foto:</b></ion-col><ion-col size="7" class="ion-text-end">
      <!-- <ion-button (click)="db.tomarFoto('0')" size="small" color="new">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button> -->
      <ion-button (click)="db.abrirFoto('0')" size="small" color="new">
        <ion-icon slot="icon-only" name="folder"></ion-icon>
      </ion-button>
    </ion-col></ion-row>
  </ion-grid> <br>

  <ion-grid *ngIf="db.fotosNovedad">  
    <ion-text color="New">
      <b>Galeria de fotos</b>
    </ion-text>
    <ion-row class="ion-no-padding" ><ion-col size="4" *ngFor="let foto of db.fotosNovedad" (click)="db.irFoto(foto,'0')">
          <ion-thumbnail class="miniatura">
            <ion-img src={{foto.ARCHIVO}}></ion-img>
          </ion-thumbnail>
    </ion-col></ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="new" (click)="db.tomarFoto('0')">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" (click)="db.borrarNovedad()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
