<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="db.unidad">
      {{db.unidad.VIN}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card (click)="db.irFotos()" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Fotos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="db.irNovedades()" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Novedades</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="db.irArchivo()" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Archivo</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="db.irCotizacion()" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Cotización</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="db.irInformacion()" class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Información General</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
