<ion-app>
    <ion-content>
      <ion-menu side="end" type="reveal" contentId="main" *ngIf="db.data">
        <ion-header>
          <ion-toolbar color="new">
            <ion-title>Usuario: {{db.data.USERNAME}}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item (click)="db.verRecodTasks()"> <ion-text color="new"> <h4>Historial Tareas</h4> </ion-text> </ion-item>
            <!--  <ion-item (click)="db.subirAdb()"> <ion-text color="new"> <h4>Realizar copia</h4> </ion-text> </ion-item>
              <ion-item (click)="db.actualizarPru()"> <ion-text color="new"> <h4>Descargar copia</h4> </ion-text> </ion-item> -->
            <ion-item (click)="db.verUsuario()"> <ion-text color="new"> <h4>Ver Usuario</h4> </ion-text> </ion-item>
            <ion-item (click)="db.cerrarSesion()"> <ion-text color="new"> <h4>Cerrar Sesión</h4> </ion-text> </ion-item>
            </ion-list>
          </ion-content>
          <ion-footer>
            <ion-toolbar class="ion-text-center">
              <ion-label color="new">Versión 1.2.9</ion-label>
          </ion-toolbar>
        </ion-footer>
      </ion-menu>
      <ion-router-outlet id="main"></ion-router-outlet>
    </ion-content>

    <ion-footer [ngClass]="{footer2: !db.showcarga}">
        <ion-list>
          <ion-progress-bar value={{db.porcentajeCarga}} buffer="0" color="new"></ion-progress-bar>
          <ion-text color="new" class="ion-padding" >Subiendo al servidor: {{db.showPorcentaje}}% </ion-text><br>
          <ion-text color="new" class="ion-padding">{{db.unidadesRevisadas.length}} unidad(es) por cargar</ion-text>
        </ion-list>
    </ion-footer>
</ion-app>

<!-- *ngIf="db.showcarga" -->