<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Información Novedad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="db.unidad" class="ion-padding">

  <ion-grid class="grid1">
    <ion-row><ion-col size="4"><b>Proceso:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.proceso.NOMBREPROCESO}}</ion-col></ion-row>
    <ion-row><ion-col size="4"><b>VIN:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.unidad.VIN}}</ion-col></ion-row>
  </ion-grid><br>

  <ion-grid class="grid1">
    <ion-row>
      <ion-col size="6"> <b>*Partes</b> <br> <ion-item class="ion-no-padding" (click)="PopoverPartes()"> {{db.parte.NOMBREPARTE}} <ion-icon slot="end" name="arrow-down" color="new" size="small"></ion-icon> </ion-item> </ion-col>
      <ion-col size="6"> <b>*Nivel</b> <br> <ion-item class="ion-no-padding" (click)="PopoverNiveles()"> {{db.nivel.NOMBRE}} <ion-icon slot="end" name="arrow-down" color="new" size="small"></ion-icon> </ion-item> </ion-col>
      <ion-col size="6"> <b>*Novedad</b> <br> <ion-item class="ion-no-padding" (click)="PopoverNovedades()"> {{db.novedad.NOMBRETIPONOVEDAD}} <ion-icon slot="end" name="arrow-down" color="new" size="small"></ion-icon> </ion-item> </ion-col>
      <ion-col size="6" class="ion-text-left"> <b>Fotos</b><br><ion-item class="ion-no-padding" lines="none">
        <ion-button  size="small" color="new" slot="end" (click)="db.tomarFotoNewNovedad()"> <ion-icon slot="icon-only" name="camera"></ion-icon> </ion-button>
        <ion-button  size="small" color="new" slot="start" (click)="db.abrirFotoNewNovedad()"> <ion-icon slot="icon-only" name="folder"></ion-icon> </ion-button>
      </ion-item> </ion-col>
    </ion-row>
  </ion-grid><br>
  <ion-grid *ngIf="db.fotosNewNovedad" class="grid1">  
    <ion-text color="New">
      <b>Fotos</b>
    </ion-text>
    <ion-row class="ion-no-padding" ><ion-col size="4" *ngFor="let foto of db.fotosNewNovedad" (click)="db.irFoto(foto,'0',true)">
          <ion-thumbnail class="miniatura">
            <ion-img src={{foto.ARCHIVO}}></ion-img>
          </ion-thumbnail>
    </ion-col></ion-row>
  </ion-grid><br *ngIf="db.fotosNewNovedad">
  <ion-grid class="grid1">
    <ion-row>
      <ion-col size="12"> <b>Observaciones</b> <br> <ion-textarea [(ngModel)]="db.obsNovedad" autoGrow="true"></ion-textarea> </ion-col>
    </ion-row>
  </ion-grid><br>
  <ion-button (click)="db.agregarNovedad()" expand="block" shape="round" color="new">
    Agregar
  </ion-button> <br>

  <ion-grid class="grid1">
    <ion-row>
      <ion-col size="12">
        <ion-list class="ion-no-padding">
          <ion-item class="ion-no-padding" lines="none">
            <b *ngIf="!db.unidad.NOVEDADES" >Sin novedades</b>
            <b *ngIf="db.unidad.NOVEDADES" >Novedades:</b>
          </ion-item>
            

          <ion-grid class="ion-no-padding + grid2">
            <ion-row (click)="db.irNovedad(novedad)" *ngFor="let novedad of db.unidad.NOVEDADES" class="ion-no-padding + row1">
              <ion-col size="2" class="ion-no-padding + col2 + item1" >  <ion-item lines="none" *ngIf="novedad.FOTOS"> <ion-icon name="images-outline" color="new"></ion-icon> <ion-badge color="primary" mode="ios" class="badge1">{{novedad.FOTOS.length}}</ion-badge> </ion-item> </ion-col>
              <ion-col size="10" class="ion-no-padding + col2" > {{novedad.PARTE.NOMBREPARTE}} - {{novedad.NOVEDAD.NOMBRETIPONOVEDAD}} - {{novedad.NIVEL.NOMBRE}} </ion-col>
            </ion-row>
          </ion-grid>


          <!-- <ion-item (click)="db.irNovedad(novedad)" *ngFor="let novedad of db.unidad.NOVEDADES" class="ion-no-padding + item1">
            <ion-icon name="images-outline" color="new" *ngIf="novedad.FOTOS"></ion-icon>
            <ion-badge color="primary" mode="ios" class="badge1" >42</ion-badge>
            <ion-label>{{novedad.PARTE.NOMBREPARTE}} - {{novedad.NOVEDAD.NOMBRETIPONOVEDAD}} - {{novedad.NIVEL.NOMBRE}}</ion-label>
          </ion-item> -->


        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
