.medio{
    padding-top: 5%;
}
.grid1{
    border-radius: 10px;
    border-style: solid;
    border-width: initial;
    border-color: black;
}
.item1{
    --overflow: visible; 
}
.badge1{
    position: absolute;
    background: #89b91d;
    opacity: 0.9;
    top: 0.1rem;
    left: 0.2rem; 
}
.miniatura{
    --size: 100%;
}
.row1{
    border-bottom: ridge;
}
.col2{
    display: flex;
    align-items: center;
}
.grid2{
    border-top: ridge;
}

