<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="db.proceso">
      {{db.proceso.NOMBREPROCESO}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item slot="fixed" class="item1">
    <ion-buttons slot="start">
      <ion-icon name="search" size="small"></ion-icon>
      <ion-badge color="new" *ngIf="badgeEn">{{unidadesFil.length}}</ion-badge>
    </ion-buttons>
    <ion-input type="text" placeholder="Código" [(ngModel)]="db.codUnidad" (ionChange)="busquedaUnidad()"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="db.scanCamera()">
        <ion-icon slot="icon-only" name="qr-code" color="new"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item><br><br>

  <div *ngFor="let unidad of unidadesFil">
  <ion-card (click)="db.irUnidad(unidad)"  *ngIf="unidad.INFORMACION.FINALIZADA == 'S'" color="new" >
    <ion-card-content class="padding1">
      <ion-grid class="ion-no-padding">
        <ion-row><ion-col size="6"><b>VIN:</b></ion-col><ion-col size="6" class="ion-text-end"><b>{{unidad.VIN}}</b></ion-col></ion-row>
        <ion-row><ion-col size="6">Tipo:</ion-col><ion-col size="6" class="ion-text-end">{{unidad.TIPO}}</ion-col></ion-row>
        <ion-row><ion-col size="6">Modelo:</ion-col><ion-col size="6" class="ion-text-end">{{unidad.MODELO}}</ion-col></ion-row>
        <ion-row><ion-col size="6">Color:</ion-col><ion-col size="6" class="ion-text-end">{{unidad.COLOR}}</ion-col></ion-row>  
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="db.irUnidad(unidad)"  *ngIf="unidad.INFORMACION.FINALIZADA == 'N'" >
    <ion-card-subtitle *ngIf="unidad.NEWS>0" class="ion-padding"><ion-badge color="success" mode="ios"class="badge3">Nueva</ion-badge></ion-card-subtitle>
    <ion-card-content class="padding1">
      <ion-grid class="ion-no-padding">
        <ion-row><ion-col size="6"><b>VIN:</b></ion-col><ion-col size="6" class="ion-text-end"><b>{{unidad.VIN}}</b></ion-col></ion-row>
        <ion-row><ion-col size="6">Tipo:</ion-col><ion-col size="6" class="ion-text-end">{{unidad.TIPO}}</ion-col></ion-row>
        <ion-row><ion-col size="6">Modelo:</ion-col><ion-col size="6" class="ion-text-end">{{unidad.MODELO}}</ion-col></ion-row>
        <ion-row><ion-col size="6">Color:</ion-col><ion-col size="6" class="ion-text-end">{{unidad.COLOR}}</ion-col></ion-row>  
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>

<!-- <ion-footer *ngIf="db.showcarga">
    <ion-list >
      <ion-progress-bar value={{db.porcentajeCarga}} buffer="0" color="new"></ion-progress-bar>
      <ion-text color="new" class="ion-padding">Subiendo al servidor: {{db.showPorcentaje}}% </ion-text><br>
      <ion-text color="new" class="ion-padding">{{db.unidadesRevisadas.length}} unidad(es) por cargar</ion-text>
    </ion-list>
</ion-footer> -->
