<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Información General
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="db.unidad" class="ion-padding">

  <ion-grid>
    <ion-row><ion-col size="4"><b>Proceso:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.proceso.NOMBREPROCESO}}</ion-col></ion-row>
    <ion-row><ion-col size="4"><b>VIN:</b></ion-col><ion-col size="8" class="ion-text-end">{{db.unidad.VIN}}</ion-col></ion-row>
  </ion-grid><br>

  <ion-grid>
    <ion-row>
      <ion-col size="5"> 
        Kilometraje
        <ion-item class="ion-no-padding">
          <ion-input type="text" [(ngModel)]="db.kilometraje" type="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="7"> 
        *Nivel de Combustible
        <ion-item class="ion-no-padding">
          <ion-input type="text" [(ngModel)]="db.nivCombustible" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        Observaciones
        <ion-item class="ion-no-padding">
          <ion-textarea [(ngModel)]="db.obsInformacion" autoGrow="true"></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-list>
          <ion-radio-group [(ngModel)]="db.finalizada">
            <ion-list-header> <ion-label> <h2> Inspección Finalizada? </h2> </ion-label> </ion-list-header>
            <ion-item lines="none"> <ion-label>No</ion-label> <ion-radio slot="start" value="N"></ion-radio> </ion-item>
            <ion-item lines="none"> <ion-label>Si</ion-label> <ion-radio slot="start" value="S"></ion-radio> </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="db.guardarInformacion()" shape="round" color="new"> Guardar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid><br>

</ion-content>
