<ion-header>
  <ion-toolbar color="new" class="ion-text-start">
    <ion-title>
      Movilizaciones
    </ion-title>
    <ion-buttons slot="end">
     <!--  <ion-button (click)="db.actualizarPru()" color="light" class="boton1">
        <ion-icon name="walk-outline"></ion-icon>
      </ion-button> -->
      <ion-button (click)="db.actualizar()" color="light" class="boton1">
        <ion-icon name="reload" size="large"></ion-icon>
      </ion-button>
      <ion-button (click)="db.cargarUnidadesRev()" class="boton1">
        <ion-icon name="arrow-up" size="large"></ion-icon>
        <ion-badge mode="ios" color="warning" class="ion-no-padding + badge1" *ngIf="db.unidadesRevisadas.length > 0" >{{db.unidadesRevisadas.length}}</ion-badge>
      </ion-button>
      <ion-button (click)="db.menuCuenta()" color="light">
        <ion-icon name="person" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card (click)="db.irProcesos(movilizacion)" *ngFor="let movilizacion of db.movilizaciones" class="boton1"> 
    <ion-badge color="success" mode="ios" *ngIf="movilizacion.NEWS>0"  class="badge2">{{movilizacion.NEWS}}</ion-badge>
    <ion-badge color="medium" mode="ios" *ngIf="movilizacion.NTASKS>0"  class="badge3">{{movilizacion.NTASKS}}</ion-badge>
    <ion-card-content> 
      {{movilizacion.CLIENTE}} - {{movilizacion.IDMOVILIZACION}} <br>
      {{movilizacion.MOTONAVE}} 
    </ion-card-content>
  </ion-card>

</ion-content>
