<ion-header>

  <ion-item *ngIf="db.partes" class="ion-no-padding">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="search" size="small"></ion-icon>
      <ion-badge color="new" *ngIf="bagEn">{{partFil.length}}</ion-badge>
    </ion-buttons>
    <ion-input type="text" placeholder="Parte" (ionChange)="busquedaParte($event.detail.value)"></ion-input>
  </ion-item>

</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let parte of partFil" (click)="selectParete(parte)">
      <ion-label>{{parte.CODIGOPARTE}}-{{parte.NOMBREPARTE}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>